div.damage{
    background-color: #dd8800;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    pointer-events: all;
}

div.secondarydamage{
    background-color: #dd0000;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    pointer-events: none;
}

p.damage{
    background-color: #00000000;
    color: #dd8800;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    pointer-events: all;
    user-select: none;
}

p.secondarydamage{
    background-color: #00000000;
    color: #dd0000;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    pointer-events: none;
    user-select: none;
}

body{
    background-color: #000000;
    color: #ffd0d0;
    overflow: hidden;
}

#navbar{
    position: sticky;
    width: 100vw;
    height: 60px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.path{
    margin: 30px;
}

body{
    padding: 0px;
    margin: 0px;
}

#symbol-compendium{
    width: 99vw;
    height:400px;
    border-radius: 15px;
    background-color: #fd4;
    overflow: hidden;
    margin:4px;
    transform: rotate(0.4deg);
}

#topper{
    background-color: #000;
    height:40px;
    border-radius: 0px;
}

#topper p{
    color: #fff;
    font-size: 20px;
}