#navbar{
    position: sticky;
    width: 100vw;
    height: 60px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    z-index: 10;
}

.path{
    margin: 30px;
}

body{
    padding: 0px;
    margin: 0px;
}

#symbol-compendium{
    width: 99vw;
    height:400px;
    border-radius: 15px;
    background-color: #fd4;
    overflow: hidden;
    margin:4px;
    transform: rotate(0.4deg);
}

#topper{
    background-color: #000;
    height:40px;
    border-radius: 0px;
}

#topper p{
    color: #fff;
    font-size: 20px;
}